*{
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    background: #D5D5D5;
}
h1{
    padding-left: 650px;
    margin-top: 50px;
    color: #066acd;
    font-family: 'popins', sans-serif;
    
}
.container{
    display: flex;
    margin: 50px;

}
.image img{
    width: 60%;
    height: 90vh;
    margin: 30px;
}
.from{
    width: 60%;
    height: 100%;
    margin: 30px;
    background-color: white;
    margin: 30px;
    position: relative;
}
.input{
    margin: 50px;
    padding: 10px;
    font-size: 30px;
    cursor: pointer;
    
}
.input input{
    padding: 8px;
    background-color: rgb(209, 201, 201);
    outline: none;
    border: none;
    border-radius: 3px;
}

.btn{
    background-color: #066acd;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    margin-left: 50px;
    cursor: pointer;
    height: 50px;
    width: 110px;
}
.btn-2{
    background-color: gray;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    margin-left: 50px;
    cursor: pointer;
    height: 50px;
    width: 110px;
}
